<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý thư viện</title>
        <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
        <link rel="icon" type="img/x-icon" href="./img/N. lONG vU.png">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div
                    class="col-md-2 p-0 bg-primary text-white collapse collapse-horizontal show"
                    id="openMenu"
                    style="min-height :100vh; ;">
                    <strong class="text-center d-block p-3">TRANG QUẢN LÝ</strong>
                    <div class="list-group m-3 list-group-item-primary ">
                        <a href="./admin.html"
                            class="list-group-item list-group-item-action"
                            aria-current="true">
                            Trang tổng quan
                        </a>
                        <a href="./admin-account.html"
                            class="list-group-item list-group-item-action  active">Tài
                            khoản</a>
                        <a href="#"
                            class="list-group-item list-group-item-action">Sách</a>
                        <a href="#"
                            class="list-group-item list-group-item-action">Chủ
                            đề</a>
                        <a class="list-group-item list-group-item-action"
                            aria-disabled="true">Mượn trả</a>
                    </div>
                </div>
                <div class="col-md p-0">
                    <nav class="navbar navbar-expand-lg bg-primary "
                        data-bs-theme="dark">
                        <div class="container-fluid">
                            <button class="btn btn-primary" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#openMenu" aria-expanded="false"
                                aria-controls="openMenu">
                                =
                            </button>
                            <a class="navbar-brand" href="#">ADMIN </a>
                            <button class="navbar-toggler" type="button"
                                data-bs-toggle="collapse"
                                data- bs-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                            href="#" role="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Xin chào, Vũ
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                    href="index.html">Xem trang chủ</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item"
                                                    href="#">Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <a href="./admin-account-add.html" class="btn btn-success float-end">Thêm tài khoản</a>
                        <h2 class="my-3">Tài khoản</h2>
                        <table class="table text-center align-middle">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ảnh</th>
                                    <th class="text-start">Họ Tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Quyền</th>
                                    <th class="text-end">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="./img/anh5.jpg" style="width: 32px; height: 32px;"
                                        class="rounded-circle">
                                    </td>
                                    <td class="text-start">Nguyễn Long Vũ</td>
                                    <td>0398752437</td>
                                    <td>
                                        <span class="badge text-bg-danger">Bố của trang web</span>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-warning">Sửa</button>
                                        <button class="btn btn-danger">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
        </body>
    </html>